@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@400;700&display=swap');

@theme {
  --font-mono: 'JetBrains Mono', monospace;

  --color-void: #050505;
  
  --color-glass-900: rgba(15, 23, 42, 0.7);
  
  --color-neon-blue: #3b82f6;
  --color-neon-purple: #8b5cf6;
  --color-neon-green: #10b981;
  --color-neon-red: #ef4444;
  --color-neon-yellow: #eab308;
  --color-neon-cyan: #06b6d4;
  
  --color-slate-900: #0f172a;
  --color-slate-200: #e2e8f0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #050505;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}